<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="fileSources" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <connectionStrings>
    <add  name="OfficeDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source= D:\DailyBackup\SomePractices\WeeklyBackupApp\WeeklyBackupApp\App_Data\WeeklyBackupLogDetails.xlsx; Extended Properties='Excel 12.0'"/>
    <add name="HomeDb" connectionString="Provider=Microsoft.ACE.OLEDB.12.0; Data Source= E:\DailyBackup\SomePractices\WeeklyBackupApp\WeeklyBackupApp\App_Data\WeeklyBackupLogDetails.xlsx; Extended Properties='Excel 12.0'"/>
  </connectionStrings>
  <fileSources>
    <add key="computerLocation" value="Home"/>
    <add key="SourceLocation_Office" value="d:\DailyBackup\"/>
    <add key="SourceLocation_Home" value="f:\DailyBackup2\"/>
    <add key="DestinationLocation_Office" value="C:\RiboBackup\WeeklyBackup\"/>
    <add key="DestinationLocation_Home" value="C:\RiboBackup\"/>
    
    <add key="ExcepitonNotice_Office" value="C:\RiboBackup\WeeklyBackupExceptionLog.txt"/>
    <add key="ExcepitonNotice_Home" value="C:\RiboBackup\WeeklyBackupExceptionLog.txt"/>
    <add key="WeekIndexMappingWithDateDuration_Office" value="C:\RiboBackup\WeekIndexMappingWithDateDuration.txt"/>
    <add key="WeekIndexMappingWithDateDuration_HOme" value="C:\RiboBackup\WeekIndexMappingWithDateDuration.txt"/>
  </fileSources>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
</configuration>
